extends ./layout.jade


block view
	if (!session.user && page == 1)
		div.container#home-promo
			!= render(Promo({'works':background}))

	div.container#works-cards
		!= render(WorksCards({'cards':cards}))
	div.container#pagination
		!= render(PagInation({'page':page, 'cardsCount': cards.length}))
	script(type='text/javascript')
		!= '__page__ = ' + page + ';'
		!= '__cards__ = ' + safeStringify(cards) + ';'
		!= '__background__ = ' + safeStringify(background) + ';'
		



